body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f6f5fc;
  margin: 40px;
}


h1 {
  color: #000000;
  text-align: center;
}


ul {
  max-width: 500px;
  padding: 0;
}


li {
  list-style: none;
  padding: 10px;
  margin-bottom: 8px;
  background-color: white;
  border-radius: 5px;

}
